.btn_rounded {
    border-radius: 50px;
}
.effects .btn {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #dcdcdc;
    text-decoration: none;
    color: #333;
}

.iconsbtn .btn {
    padding-right: 3em;
}
.btn {
    cursor: pointer;
}