@import "skins/default";
$font-icon-font-awesome:"FontAwesome";
$font-family-brandon-regular: "BrandonTextRegular";
$font-family-brandon-medium: "BrandonTextMedium";
$font-family-brandon-bold: "BrandonTextBold";
$font-family-brandon-black: "BrandonTextBlack";
$font-family-UniNeue-regular: "UniNeueRegular";
$font-family-UniNeue-bold: "UniNeueBold";
$font-family-UniNeue-heavy: "UniNeueHeavy";