.pr_font1 {
  font-size: 14px;
}

.pr_font2 {
  font-size: 14px;
}

.space_li li {
  margin-bottom: 15px;
}

.space_li li {
  list-style: none;
  padding-left: 10px;
}

.space_li>li>i {
  margin-top: 0px !important;
  font-size: 18px;
  color: #337ab7;
}
